#imag{
    border: 3px solid rgb(66, 255, 79);
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0, 255, 255, 7.5);
}
@media screen and (max-width: 468px) {
    #imag{
       
        width: 300px;
        height: 300px;
        border-radius: 100%;
        object-fit: cover;
        background: #2e95d5;
    }
      
    
}

.btn{
    background-image: linear-gradient(to right, #015958, #022652);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn2{
    background-image: linear-gradient(to right, #015958, #022652);
    color: white;
    padding: 10px;
    
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 18px;
}
.btn3{
    background-image: linear-gradient(to right, #015958, #022652);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}
#inp input{
    border: 3px solid rgb(27, 139, 119);
    font-size: 30px;
    font-weight: bold;
    height: 50px;
}

#inp label{
    
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
}
 textarea{
    border: 3px solid rgb(27, 139, 119)
}

.log {
box-shadow: 0px,0px 30px cyan;
border: 3px solid rgb(0, 0, 0);
width: 100%;
padding: 15px;
border-radius: 10px;
}